body {
    background-color:blanchedalmond;
    font-family: 'Merienda';
}


h1, h2, h3,h4{
    text-align: center;
    font-family: 'Merienda';
    margin: 10px;
}

h4{
    color:black;
    animation: animate 1.5s linear infinite;
    font-weight: bold;
    font-size: 30px;
} 
 
@keyframes animate{
  0%{
    opacity: 0.1;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: .3;
  }
}

#score{
        text-align: center;
}
#p1Score, #p2Score, #drawScore{
    margin: auto;
    display: inline-block;
    padding-right: 25px;
    
}

/* Table */
td {
    width: 100px;
    height: 100px;
  }
  table {
    margin: 5px auto;
  }
  .vert {
    border-left: 5px solid black;
    border-right: 5px solid black;
  }
  .hori {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
  }


/* button desgin */
  #buttons{
    padding-top: 20px;
text-align: center;
  }

  #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9, #boxes{
    text-align: center;
    font-size: 45px;
  }


  h1{
    animation: myAnim 3s ease 0s 1 normal forwards;;
  }
  @keyframes myAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 1;
		transform: translateY(-45px);
	}

	24% {
		opacity: 1;
	}

	40% {
		animation-timing-function: ease-in;
		transform: translateY(-24px);
	}

	65% {
		animation-timing-function: ease-in;
		transform: translateY(-12px);
	}

	82% {
		animation-timing-function: ease-in;
		transform: translateY(-6px);
	}

	93% {
		animation-timing-function: ease-in;
		transform: translateY(-4px);
	}

	25%,
	55%,
	75%,
	87% {
		animation-timing-function: ease-out;
		transform: translateY(0px);
	}

	100% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0px);
	}
}