body {
    background-color: aqua;
}

h1, h2, h3,h4{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h4{
    color: red;
    animation: animate 1.5s linear infinite;
    font-weight: bold;
    font-size: 20px;
} 
 
@keyframes animate{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.7;
  }
  100%{
    opacity: 0;
  }
}

#score{
        text-align: center;
}
#p1Score, #p2Score, #drawScore{
    margin: auto;
    display: inline-block;
    padding-right: 25px;
}

/* Table */
td {
    width: 100px;
    height: 100px;
  }
  table {
    margin: 5px auto;
  }
  .vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  .hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }


/* button desgin */
  #btn1, #btn2, #btn3, #btn4, #btn5, #btn6, #btn7, #btn8, #btn9{
    height: 100px;
    width: 100px;
    opacity: 0%;
  }
  #buttons{
    padding-top: 20px;
text-align: center;
  }

  #box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8, #box9{
    text-align: center;
    font-size: 45px;
  }